@import '../variables';
@import '../mixins';




//
//  <details>
//
details {
  //...

  &[open] {
    * {
      color: red;
    }
  }
}




//
//  <summary>
//
summary {
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }
}
