//@import 'variables';
//@import 'utility';
@import '../mixins';



nav {
  padding: 2vw;
  overflow: scroll;

  border-radius: 1vw;


  a {
    //...
  }


  //
  // ◊ ◊ ◊
  //
  ul {
    @include reset(ul);
    display: flex;
  }
  ul ul {
    //...
    display: none;  // TODO > remove
  }


  li {
    font-size: 4vw;
    //a {…}
  }
  li li {
    //...
    //a {…}
  }
}




//
//  Primary navigation
//
nav[role="primary"] {
  background: var(--nav-primary);
}




//
//  Secondary navigation
//
nav[role="secondary"] {
  background: var(--nav-secondary);
}





