@import '../variables';
@import '../mixins';




//
//  ____
//
nav {
  padding: $unit;
  overflow: scroll;


  a {
    display: inline-block;
    padding: 0 $unit;

    color: var(--link);
    text-decoration: none;

    transition: transform 100ms ease;
    &:visited { color: var(--link); }
    &:focus,
    &:hover {
      color: var(--link-hover);
      transform: scale(1.2);
    }
    //&:active { ___ }
  }


  //
  // ◊ ◊ ◊
  //
  ul {
    @include reset(ul);
    display: flex;
  }
  ul ul {
    //...
    display: none;  // TODO > remove
  }


  li {
    padding: 0 $unit;
    font-size: $unit * 2;
    //a {…}
  }
  li li {
    //...
    //a {…}
  }
}




//
//  Primary navigation
//
.nav-primary {
  background: var(--nav-primary);
}




//
//  Secondary navigation
//
.nav-secondary {
display: none;  // TODO > remove
  background: var(--nav-secondary);
}





