//@import 'variables';
//@import 'utility';
@import '../mixins';



nav {
  padding: $unit;
  overflow: scroll;


  li,
  a {
    padding: 0 $unit;
  }


  //
  // ◊ ◊ ◊
  //
  ul {
    @include reset(ul);
    display: flex;
  }
  ul ul {
    //...
    display: none;  // TODO > remove
  }


  li {
    font-size: $unit * 2;
    //a {…}
  }
  li li {
    //...
    //a {…}
  }
}




//
//  Primary navigation
//
.nav-primary {
  background: var(--nav-primary);
}




//
//  Secondary navigation
//
.nav-secondary {
display: none;  // TODO > remove
  background: var(--nav-secondary);
}





