<dl title="Cizojazyčné názvy">
    <dt lang="en" title="English">EN</dt>
        <dd>
            ____EN____ <i>____PREDICATE__EN____</i>
            <br>
            <em>____EN__ALTERNATIVE_NAME____</em>
        </dd>
    <dt lang="la" title="Latin">LA</dt>
        <dd>
            ____LA____
        </dd>
    <dt lang="de" title="Deutsch">DE</dt>
        <dd>
            ____DE____
        </dd>
    <dt lang="fr" title="Français">FR</dt>
        <dd>
            ____FR____
        </dd>
    <dt lang="es" title="Español">ES</dt>
        <dd>
            ____ES____
        </dd>
    <dt lang="it" title="Italiano">IT</dt>
        <dd>
            ____IT____
        </dd>
    <dt lang="cs" title="Čeština">CS</dt>
        <dd>
            ____CS____
        </dd>
</dl>