<h2>
    Japonský špenát kořeněný zázvorem
</h2>
<h3>
    Ingredience
</h3>
<dl lang="cs" title="Rozpis ingrediencí">
    <dt>1/2 Kg</dt>
        <dd>špenát -- listy</dd>
    <dt>2 P.L.</dt>
        <dd>olej -- olivový</dd>
    <dt>1 ks</dt>
        <dd>paprička -- chilli</dd>
    <dt>1 špetka</dt>
        <dd>kmín -- římský</dd>
    <dt>1/2 Č.L.</dt>
        <dd>zázvor -- mletý</dd>
    <dt>1 špetka</dt>
        <dd>sůl -- mořská</dd>
</dl>
<h3>
    Přípravné práce
</h3>
<ol>
    <li>
        špenát
        <ol>
            <li>
                proprat (umýt/propláchnout)
            </li>
            <li>
                nakrájet na širší proužky
            </li>
            <li>
                nechat oschnout
            </li>
        </ol>
    </li>
    <li>
        chilli paprička
        <ol>
            <li>
                nakrájet na šikmé, tenké pružky
            </li>
        </ol>
    </li>
</ol>
<h3>
    Postup
</h3>
<ol>
    <li>na pánvi rozpálíme olej</li>
    <li>přidáme chilli</li>
    <li>přidáme kmín</li>
        <li>opečeme</li>
    <li>přidáme špenát</li>
        <li>opekáme přibližně 1 min.</li>
    <li>poprášíme zázvorem</li>
    <li>osolíme</li>
</ol>
<h3>
    Servírování
</h3>
<p>
    Převod .SK domény je nyní jednodušší. Po zadání žádosti o transfer je potřeba uhradit částku ve výši jednoho ročního poplatku za prodloužení .SK domény a zjistit si AUTH-ID kód pro transfer domény u stávajícího registrátora. Roční poplatek je dle aktuálního ceníku: 299 Kč + DPH. Po uhrazení poplatku vám zašleme link, kde zadáte AUTH-ID kód a tím potvrdíte transfer vaší .SK domény. Po dokončení transferu dojde k posunutí data expirace domény o jeden rok. Platíte tedy za roční prodloužení domény, samotný transfer je zdarma. Změnit registrátora domény můžete kdykoliv. Více informací zde.
</p>