<dl title="Původ">
    <dt lang="en" title="English">Origin</dt>  <dd>the Mediterranean</dd>
    <dt lang="la" title="Latin">Origo</dt>     <dd>regio mare</dd>
    <dt lang="de" title="Deutsch">Ursprung</dt><dd>der Mittelmeerraum</dd>
    <dt lang="fr" title="Français">Origine</dt><dd>Méditerranée</dd>
    <dt lang="es" title="Español">Origen</dt>  <dd>Mediterráneo</dd>
    <dt lang="it" title="Italiano">Origine</dt><dd>il Mediterraneo</dd>
    <dt lang="cs" title="Čeština">Původ</dt>   <dd>Středomoří</dd>
    <code>
        <dt lang="ru" title="Pусский">происхождения</dt>   <dd>Средиземное море</dd>
        <dt lang="sk" title="Slovenčina">pôvod</dt>   <dd>Stredomoria</dd>
    </code>
</dl>
