@import 'variables';
//@import 'mixins';




//
//  ____
//
@mixin reset($what) {
  //
  //  <ul> – reset default browser styles
  //
  @if $what == "ul" {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
