@import 'variables';
@import 'mixins';




//
//  ____
//
.dev__todo {
  //…
  color: var(--todo) !important;
}





//
//  DEV layout – test <nav> scroll
//
h1 {
  margin: 0 0 $unit;

  font-size: $unit * 2;
  line-height: 1.4;
  color: var(--red);
}


//
//  [ UI ] logo
//
header {
  position: fixed;
  width: 100%;
  height: var(--header-height);

  margin-left: calc(#{var(--body-margin)} * -1);

  background: var(--header);

  > h1 {
display: none;
    margin: $unit * 2;

    font-size: $unit;
    line-height: 1;
    font-weight: 400;
  }
}


main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > section {
    min-height: 100vh;
    margin-top: var(--header-height); // reserved space for <nav>
    padding-top: $unit * 2;

    > h1 {
      font-size: $unit * 3;
      color: var(--section-h1);
    }
  }
}



//
//  [ T ] Typography
//
.text {
  &--small {      font-size: small; }

  &--left {       text-align: left; }
  &--center {     text-align: center; }
  &--right {      text-align: right; }

  &--muted {      opacity: .5; }
}




.col--2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $unit * 2;
}


//
//  [ T ] definition list
//
dl {
  //...
}


dt {
  @extend .text--muted;
}


dd {
  //...
}





//•••  •••  •••  •••  •••  •••  •••
//•••
//•••  14.4. – ⭐️ Bonus level
//•••
//••
//•
//


//
// > ☀️ | 🌙
//
.day {
  //...
}


.night {
  //...
}


//•••  •••  •••  •••  •••  •••  •••

//
//  deleted text
//
del { color: var(--del); }

//
//  inserted text
//
ins { color: var(--ins); }



