//
//  variables
//
:root {
  --red: green;


  //
  //  [ UI ]
  //
  --header:         yellowgreen;
  --header-height:  100px;

  --nav-primary:    #cdb;
  --nav-secondary:  #dda;


  //
  //  [ T ]
  //
  --section-h1:     #222;

  --todo: red;



  //
  //  [ ? ]
  //
  --body-margin: 4vw;
}
