$unit:              1.6rem;
$body-background:   #e1f5c4;
$transition:        all 100ms ease-in-out;




//
//  variables
//
:root {
  //
  //  SEED ( core )
  //
  --del: RED; //..........................  deleted text color
  --ins: GREEN; //………………………………………………………………  inserted text color


  --red: green;


  //
  //  [ UI ]
  //
  --text:           black;


  --link:           forestgreen;
  --link-hover:     darkgreen;

  --header:         yellowgreen;
  --header-height:  100px;

  --nav-primary:    #cdb;
  --nav-secondary:  #dda;


  //
  //  [ T ]
  //
  --section-h1:     #222;

  --todo: red;



  //
  //  [ ? ]
  //
  --body-margin:      $unit;
}
